numpy
pyopenjtalk
fasttext-predict
bsdiff4
soundfile
jieba_fast
requests
tqdm
python-mecab-ko
g2pk2
ko_pron
jamo
pypinyin
inflect
cn2an
opencc-python-reimplemented
ToJyutping
wordsegment
fast-langdetect==1.0.0
split-lang==2.1.1
nltk==3.9.2
g2p-en==2.1.0